* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    content: "";
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('../img/Untitled_design.png');
    min-height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
/*  =================navbar section!==============-- */
.header1 {
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #11101b;
}

h1 {
    color: #deebee;
}

.nav1 {
    color: #deebee;
    position: relative;
    text-decoration: none;
}

.nav1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #98C346;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav1:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.header1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.header1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.logo {
    font-size: 2rem;
    color: #deebee;
    text-decoration: none;
    font-weight: 700;
}

.navbar .nav1 {
    font-size: 1.15rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}



#check  {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #deebee;
    cursor: pointer;
    display: none;

}

/* BREAKPOINTS */
@media (max-width: 992px) {
    .header1 {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

        #check:checked~.icons #close-icon {
            display: block;
        }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0  .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

/* ===============end of nav bar ============== */

/* =============== wrapper ============== */
.wrapper {
    background-color: #deebee;
    position: relative;
    display: flex;
}
/* ===============end of wrapper============== */

